
<script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
<script type="text/javascript">
    function decrementa(produtoId) {
        var url = "@Url.Action("DecrementaQtd", "Produto")";
        var params = { id: produtoId };
        $.post(url, params, atualiza);
    }

    function atualiza(resposta) {
        var elemento = $("#quantidade" + resposta.Id);
        elemento.html(resposta.Quantidade);
    }
</script>

@Model IList<medicamentos.Models.Medicamento>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Unidade</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var medicamento in Model)
        {
            <tr>
                <td>@medicamento.Nome</td>
                <td>@Unidade</td>
            </tr>
        }
    </tbody>
</table>