
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <form action="/Login/Autentica" method="post">
            <label for="cpf">CPF</label>
            <input type="text" name="CPF" id="cpf" />

            <label for="senha">Senha:</label>
            <input type="password" name="senha" id="senha" />

            <input type="submit" value="Entrar"/>

        </form>
    </div>
</body>
</html>
