<!doctype html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" href="~/Content/icon.png" />
    <link rel="stylesheet" href="~/Content/css/reset.css" />
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/css/Site.css" />
</head>
<body>

    @RenderBody()

    <script type="text/javascript" src="~/Content/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="~/Content/js/popper.min.js"></script>
    <script type="text/javascript" src="~/Content/js/bootstrap.min.js"></script>
</body>
</html>
